<p>
  plain-material works!
</p>


<md-card>
  <md-card-title-group>
    <!--<img md-card-sm-image src="path/to/img.png">-->
    <md-card-title>Calendar</md-card-title>
    <i class="fa fa-calendar fa-3x" aria-hidden="true"></i>
    <md-card-subtitle>Subtitle</md-card-subtitle>
  </md-card-title-group>
</md-card>

<md-card>
  <md-card-title-group>
    <!--<img md-card-sm-image src="path/to/img.png">-->
    <md-card-title>Text View</md-card-title>
    <i class="fa fa-file-text-o fa-3x" aria-hidden="true"></i>
    <md-card-subtitle>Subtitle</md-card-subtitle>
  </md-card-title-group>
</md-card>

<md-card>
  <md-card-title-group>
    <!--<img md-card-sm-image src="path/to/img.png">-->
    <md-card-title>Map</md-card-title>
    <i class="fa fa-map fa-3x" aria-hidden="true"></i>
    <md-card-subtitle>Subtitle</md-card-subtitle>
  </md-card-title-group>
</md-card>

